.full-black-overlay{
    z-index: 200;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #000000;
}

.menu-item-detail{
    width: 100%;
    height: 300px;
    /*background-color: black;*/
    z-index: 300;
    margin: auto;
    position: absolute;
    top: 100px;
}

.order-detail{
    width: 100%;
    height: 300px;
    /*background-color: black;*/
    z-index: 300;
    margin: auto;
    position: absolute;
    top: 100px;
}

.order-detail-inside{
    width: 50%;
    float: right;
}

.menu-item-detail-frame{
    /*width: 55%;*/
    /*height: 100%;*/
    /*background-color: blue;*/
    z-index: 301;
    /*float:left;*/
}

.menu-item-detail-content{
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    background-color: white;
}

.image-with-border{
    margin: 5% 5% 5% 5%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
}

.span-half-parent{
    width: 50%;
    float: left;
}

.buy-button{
    background-color: #f06489;
    width: 70px;
    text-align: center;
}

.pencil{
    float: right;
    max-height: 100%;
    z-index: 305;
}

.note-header{
}

.checkout-border{
    border-top-style: solid;
    border-color: #f06489;;
    border-width: 7px;
}

.note-body{
    padding: 10px;
    margin-top: -2px;
    background-color: #e6e8e3;
    height: 250px;
}

.note-footer{
    padding: 10px;
    margin-top: -2px;
    background-color: #e6e8e3;
    height: 50px;
}

#cart-content{
    float: right;
    margin-right: -30px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #00ffcc;
    text-shadow: 0 0 5px #000000;
    text-align: center;
    color: white;
}

